.text-container {

	text-align: center;

}

h2 {

	font-size: 60px

}

p {
	.
	color: red;
	font-size: 40px;
	font-family: 'Redressed', cursive;

}

.change {
color: red;
}

.element {
  animation: pulse 5s infinite;

}

@keyframes pulse {
0% {
    color: #FF4136;
  }
  100% {
    color: #42d7f5;
  }
}


body {
   padding:40px 0;
   color: white;
   background-color: black;
   font-family: 'bebas', sans-serif;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   }

#kitten {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

#kitten img{
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#kitten img.top:hover {
  color: black;
  opacity:0;
}
